<div class='container text-center mt-5'>
	<h1>Welcome to Sagar Page</h1>
	<%= user_gravatar @user,size:150%>
	<p class="lead"><%=@user.username%> Articles</p>
</div>
<%=render 'articles/article',obj:@user.articles%>
