#logo{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
    &:hover{
        color: bisque;
    }
}
.jumbotron{
    background-image: image-url('background.jpg');
    height: 450px;
    color: #1B1A17;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: white
}
.footer{
    float: right;
    position: fixed;
    bottom: 5px;
    right: 4px;
    
    a{
        text-decoration: none;
    }
}
.col-form-label{
    font-size: larger;
    font-weight: bold;
}
