<h1 class="text-center my-4"> Listing all Categories </h1>
<% @categories.each do |category|%>
	<div class="card container col-md-8 mb-4">
		<div class="card-header  text-center">
			<h3><%= link_to category.name.upcase,category_path(category), class:'text-decoration-none'%></h3>
			<p class="text-secondary"> <%= pluralize(category.articles.count, 'Article')%></p>
		</div>
	</div>
<%end%>
<% if logged_in?%>
	<button class="button btn-primary d-md-none"><%= link_to 'New Category',new_category_path,class:"text-light text-decoration-none" %></button>
	<button class="button btn-primary new_article d-none d-md-block"><%= link_to 'New Category',new_category_path,class:"text-light text-decoration-none" %></button>
<% end %>
